! urxvt
URxvt.perl-ext-common: default,font-size,-confirm-paste

URxvt*buffered: true
URxvt*scrollBar: false
URxvt.urlLauncher: google-chrome
URxvt*font:  xft:Fira Code:style=Regular:size=11
URxvt.iso14755: false

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

*background: #1d1e20
*foreground: #f0f0f0

!Black
*color0: #1f1f20
*color8: #1f1f20

!red
*color1: #fb055a
*color9: #fb055a

!green
*color2: #26ffd4
*color10: #26ffd4

!yellow
*color3: #fdaa5a
*color11: #fdaa5a

!blue
*color4: #5c9fff
*color12: #5c9fff

!magenta
*color5: #fc59a6
*color13: #fc59a6

!cyan
*color6: #26ffd4
*color14: #26ffd4

!white
*color7: #f0f0f0
*color15: #f0f0f0
